id_file=
volume_name=/Volumes/
user=
domain=
server_folder=
local_folder=
notification_title=
notification_success="Folder mounted!"
notification_failure="Could not mount the folder!"
notification_nothing2do="Is already mounted!"
